<form class="form" *ngIf="!showStudent">
  <input
    placeholder="Email address or phone number"
    class="input"
    type="text"
  />
  <input placeholder="Password" class="input" type="password" id="password" />
  <button id="loginBtn">Log in</button>
  <a id="forgotPassword" href="#">Forgotten password?</a>
  <button class="create" id="createAccountBtn">Create new account</button>
</form>

<button (click)="toggleHiden()">
  {{ showStudent ? "Login Form" : "Student Form" }}
</button>

<div class="student-form" *ngIf="showStudent">
  <div>
    <label for="">Name</label>
    <input type="text" [(ngModel)]="newStudent.name" />
    <br />

    <label for="">Age</label>
    <input type="text" [(ngModel)]="newStudent.age" />
    <br />

    <label for="">Address</label>
    <input type="text" [(ngModel)]="newStudent.address" />
  </div>

  <button (click)="addStudent()">Add Student</button>

  <div class="student-list">
    <ng-container *ngIf="students.length > 0; else noStudent">
      List Student
    </ng-container>
    <ng-template #noStudent> Khong co student nao</ng-template>

    <br />
    <ng-container *ngFor="let student of students; index as i">
      <div class="student-item">
        <div>Student: {{ i + 1 }}</div>
        <div>Name : {{ student.name }}</div>
        <div>Age: {{ student.age }}</div>

        <label for="">Address : </label>
        <div [class]="student.address ? 'text-blue' : 'text-red'">
          {{ student.address || "No Address" }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
