<div class="employee-form-container">
  <h2>Tạo nhân viên</h2>
  <form [formGroup]="createEmployeeForm" class="employee-form">
    <mat-form-field class="example-full-width">
      <mat-label>Tên</mat-label>
      <input matInput formControlName="name" placeholder="Nhập tên" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Nhập email" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Địa chỉ</mat-label>
      <input matInput formControlName="address" placeholder="Nhập địa chỉ" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Số điện thoại</mat-label>
      <input
        matInput
        formControlName="phone"
        placeholder="Nhập số điện thoại"
      />
      <mat-hint
        style="color: red"
        *ngIf="
          createEmployeeForm.get('phone')?.invalid &&
          createEmployeeForm.get('phone')?.touched
        "
      >
        <span *ngIf="createEmployeeForm.get('phone')?.errors?.['required']">
          Số điện thoại là bắt buộc.
        </span>
        <span *ngIf="createEmployeeForm.get('phone')?.errors?.['invalidPhone']">
          Số điện thoại không hợp lệ. Số điện thoại phải gồm 10 chữ số và bắt
          đầu bằng 03, 05, 07, hoặc 09.
        </span>
      </mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Lương</mat-label>
      <input
        type="number"
        matInput
        formControlName="salary"
        placeholder="Nhập lương"
      />
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Ngày sinh</mat-label>
      <input
        matInput
        [matDatepicker]="birthdayPicker"
        formControlName="birthday"
        placeholder="Chọn ngày sinh"
      />
      <mat-error *ngIf="createEmployeeForm.get('birthday')?.hasError('minAge')">
        Bạn phải ít nhất 16 tuổi.
      </mat-error>
      <mat-hint *ngIf="!createEmployeeForm.get('birthday')?.hasError('minAge')">
        MM/DD/YYYY
      </mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="birthdayPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Ngày tham gia</mat-label>
      <input
        matInput
        [matDatepicker]="joindatePicker"
        formControlName="joindate"
        placeholder="Chọn ngày tham gia"
      />
      <mat-error
        *ngIf="createEmployeeForm.get('joindate')?.hasError('invalidJoinDate')"
      >
        Ngày tham gia phải từ hôm nay trở đi.
      </mat-error>
      <mat-hint
        *ngIf="!createEmployeeForm.get('joindate')?.hasError('invalidJoinDate')"
      >
        MM/DD/YYYY
      </mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="joindatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #joindatePicker></mat-datepicker>
    </mat-form-field>

    <br />

    <button
      (click)="createEmployee()"
      [disabled]="loading"
      mat-raised-button
      class="pushable"
    >
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front"> Tạo </span>
    </button>

    <div *ngIf="loading">
      <div aria-label="Loading..." role="status" class="loader">
        <svg class="icon" viewBox="0 0 256 256">
          <line
            x1="128"
            y1="32"
            x2="128"
            y2="64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="195.9"
            y1="60.1"
            x2="173.3"
            y2="82.7"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="224"
            y1="128"
            x2="192"
            y2="128"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="195.9"
            y1="195.9"
            x2="173.3"
            y2="173.3"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="128"
            y1="224"
            x2="128"
            y2="192"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="60.1"
            y1="195.9"
            x2="82.7"
            y2="173.3"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="32"
            y1="128"
            x2="64"
            y2="128"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
          <line
            x1="60.1"
            y1="60.1"
            x2="82.7"
            y2="82.7"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="24"
          ></line>
        </svg>
        <span class="loading-text">Loading...</span>
      </div>
    </div>
  </form>

  <h2>Danh sách nhân viên</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tên</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
      <td mat-cell *matCellDef="let employee">{{ employee.address }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
      <td mat-cell *matCellDef="let employee">{{ employee.phone }}</td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Lương</th>
      <td mat-cell *matCellDef="let employee">{{ employee.salary }}</td>
    </ng-container>

    <!-- Birthday Column -->
    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.birthday | date : "MM/dd/yyyy" }}
      </td>
    </ng-container>

    <!-- Join Date Column -->
    <ng-container matColumnDef="joindate">
      <th mat-header-cell *matHeaderCellDef>Ngày tham gia</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.joindate | date : "MM/dd/yyyy" }}
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
